@import '/src/common/mordern-reset.css';

.card {
  margin: 1em;
  padding: 1em;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  &.good-partner {
    display: flow-root;
  }

  /* 제목 */
  .subject {
    font-size: 1.5rem;
    font-weight: 600;
    span {
      vertical-align: top;
      &[lang='en'] {
        font-size: 0.5em;
      }
    }
  }

  /* 이미지 */
  .thumbnail {
    --radius: 50%;

    float: left;
    margin: 1em;
    padding: 0.625em;
    border-radius: var(--radius);
    width: 100px;
    shape-outside: circle(50%);
    border: 1px solid #ccc;
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 0 -11px;
      border-radius: var(--radius);
    }
  }

  /* 내용 */
  .content {
    margin-top: 0.625rem;
  }
}
